<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{${'css/bootstrap.css?v='} + ${standardDate}}" rel="stylesheet" media="screen"/>
    <link th:href="@{${'css/Stylessheet.css?v='} + ${standardDate}}" rel="stylesheet" media="screen"/>
    <script th:src="@{webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" rel="javascript"></script>
    <title>WebCrawler</title>
</head>
<body>
<div class="container">
    <form id="webcrawler" name="webcrawler" action="/" method="POST" enctype="multipart/form-data"
          th:object="${formSubmission}">
        <div class="form-group">
            <label for="firstName" class="headings">FirstName</label>
            <input type="firstName" class="form-control" id="firstName" name="firstName"
                   th:field='*{customerEmail}' required="" placeholder="Please enter your firstName..."/>
            <div id="firstName-error" style="display:none"/>
        </div>
        <div class="form-group">
            <label for="lastName" class="headings">LastName</label>
            <input type="lastName" class="form-control" id="lastName" name="lastName"
                   th:field='*{lastName}' required="" placeholder="Please enter your lastName..."/>
            <div id="lastName-error" style="display:none"/>
        </div>
    <div class="form-group">
    <label for="customerEmail" class="headings">Email</label>
    <input type="customerEmail" class="form-control" id="customerEmail" name="customerEmail"
           th:field='*{customerEmail}' required="" placeholder="Please enter your Email Address..."/>
    <div id="customerEmail-error" style="display:none"/>
    <p id="confirm"/>
    </div>
        <div class="form-group">
            <label for="phoneNumber" class="headings">Phone Number</label>
            <input type="phoneNumber" class="form-control" id="phoneNumber" name="phoneNumber"
                   th:field='*{phoneNumber}' required="" placeholder="Please enter your phoneNumber..."/>
            <div id="phoneNumber-error" style="display:none"/>
        </div>
        <div class="form-group">
        <label for="flightOrigin" class="headings">Flight Origin</label>
        <input type="flightOrigin" class="form-control" id="flightOrigin" name="flightOrigin"
               th:field='*{flightOrigin}' required="" placeholder="Please enter your flightOrigin..."/>
        <div id="flightOrigin-error" style="display:none"/>
        </div>
    <div class="form-group">
        <label for="flightDestination" class="headings">Flight Destination</label>
        <input type="flightDestination" class="form-control" id="flightDestination" name="flightDestination"
               th:field='*{flightDestination}' required="" placeholder="Please enter your flight Destination..."/>
        <div id="flightDestination-error" style="display:none"/>
    </div>
    <div class="form-group">
        <label class="headings" for="options">Frequency</label>
        <select id="options" th:field="*{frequency}" required="" class="form-control"
                th:readonly="(${FREQUENCY_PROVIDED}) and (!${#fields.hasErrors('frequency')})">
            <option value="" selected="" hidden="" id="frequencyDefaultText">Please choose the Frequency...</option>

            <option th:each="frequencyOption : ${allFrequencies}" th:value="${frequencyOption}" th:text="#{${'FREQUENCY.' + frequencyOption}}"
                    th:disabled="(${FREQUENCY_PROVIDED}) and (!${#strings.equals(formSubmission.frequency, frequencyOption)}) and (!${#fields.hasErrors('frequency')})"></option>
        </select>
        <div id="options-error" style="display:none">Invalid Frequency</div>
    </div>
        <div class="form-group">
            <label for="travelDate" class="headings">Date of Travel(YYYY-MM-DD)</label>
            <input type="travelDate" class="form-control" id="travelDate" name="travelDate"
                   th:field='*{travelDate}' required="" placeholder="Please enter your Date of travel..."/>
            <div id="travelDate-error" style="display:none"/>
        </div>
        <p/>
        <p/>
        <label class="indicator" color="red">Please check your Email and confirm the email address by clicking on the link provided</label>
        <p/>
    <button id="submitBtn" name="submitBtn" class="btn btn-primary start submit">
        <i class="glyphicon glyphicon-upload"></i>
        Submit
    </button>
    </form>
</div>
<script LANGUAGE="JavaScript">
    /*function confirmEmail(form){
        customerEmailValue = form.customerEmail.value;
        console.log("Customer Email : " + customerEmailValue);
        if (customerEmailValue != null) {
            var confirm = document.createElement('confirm');
            confirm.setAttribute('href', "http://localhost:8080/confirmation.html");
            confirm.innerText = "Please click here to confirm your emailID";
            document.getElementsByTagName('body')[4].appendChild(confirm);
        }
    }
*/
    function dateFunction() {
        var x = document.getElementById("travelDate").value;
        document.getElementById("calendarDisplay").innerHTML = x;
        document.getElementById("travelDate").value
    }

</script>
    </body>
</html>